version: "3.9"


# Networks
networks:
  onlyoffice:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: onlyoffice
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}/24
          gateway: ${GATEWAY}



# Docker managed persistent volumes
volumes:
  rabbitmq:
  mysql:
  redis:
  data:
  logs:
  cache-files:
  public-files:
  fonts:

services:
  # OnlyOffice container
  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice
    hostname: ${OO_HOST}
    domainname: ${DOMAIN}
    restart: unless-stopped
    environment:
      DB_TYPE: mariadb
      DB_HOST: oo-db
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PWD: ${DB_PASS}
      AMQP_TYPE: rabbitmq
      AMQP_URI: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@oo-rabbitmq
      REDIS_SERVER_HOST: oo-redis
      REDIS_SERVER_PORT: 6379
      JWT_ENABLED: true
      JWT_SECRET: ${JWT_SECRET}
      JWT_HEADER: Authorization
      JWT_IN_BODY: 'true'
    depends_on:
      oo-db:
        condition: service_healthy
      oo-rabbitmq:
        condition: service_healthy
    networks:
      onlyoffice:
        ipv4_address: ${OO_IP}
    ports:
      - ${EXT_OO_PORT}:80
    volumes:
      - data:/var/www/onlyoffice/Data
      - logs:/var/log/onlyoffice
      - cache-files:/var/lib/onlyoffice/documentserver/App_Data/cache/files
      - public-files:/var/www/onlyoffice/documentserver-example/public/files
      - fonts:/usr/share/fonts

  # Mariadb container
  oo-db:
    image: mariadb:latest
    container_name: oo-db
    restart: unless-stopped
    environment:
      MARIADB_AUTO_UPGRADE: ${MARIADB_AUTO_UPGRADE}
      MYSQL_RANDOM_ROOT_PASSWORD: true
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      TZ: ${TZ}
    command: [ "--max-allowed-packet=512M", "--innodb-log-file-size=128M", "--transaction-isolation=READ-COMMITTED", "--binlog-format=ROW" ]
    healthcheck:
        test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
        start_period: 1m
        start_interval: 10s
        interval: 1m
        timeout: 5s
        retries: 3
    networks:
      onlyoffice:
        ipv4_address: ${DB_IP}
    volumes:
      - mysql:/var/lib/mysql

  # Redis container
  oo-redis:
    image: redis:alpine
    container_name: oo-redis
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      onlyoffice:
        ipv4_address: ${REDIS_IP}
    volumes:
      - redis:/data

  # Rabbitmq container
  oo-rabbitmq:
    image: rabbitmq:4-management
    container_name: oo-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s    
    networks:
      onlyoffice:
        ipv4_address: ${RABBITMQ_IP}
    volumes:
      - rabbitmq:/var/lib/rabbitmq