version: "3.9"

# networks
networks:
  wazuh_manager:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: wazuh_manager
    ipam:
      driver: default
      config:
        - subnet: ${MANAGER_SUBNET}/24
          gateway: ${MANAGER_GATEWAY}
  wazuh_dashboard:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: wazuh_dashboard
    ipam:
      driver: default
      config:
        - subnet: ${DASHBOARD_SUBNET}/24
          gateway: ${DASHBOARD_GATEWAY}
  wazuh_backhaul:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: wazuh_backhaul
      com.docker.network.bridge.gateway_mode_ipv4: isolated
    ipam:
      driver: default
      config:
        - subnet: ${BACKHAUL_SUBNET}/24
    internal: true


volumes:
  wazuh_api_configuration:
  wazuh_etc:
  wazuh_logs:
  wazuh_queue:
  wazuh_var_multigroups:
  wazuh_integrations:
  wazuh_active_response:
  wazuh_agentless:
  wazuh_wodles:
  filebeat_etc:
  filebeat_var:
  wazuh-indexer-data:
  wazuh-dashboard-config:
  wazuh-dashboard-custom:


services:
  wazuh-manager:
    image: wazuh/${MANAGER}:${VERSION}
    container_name: ${MANAGER}
    hostname: ${MANAGER}
    restart: unless-stopped
    environment:
      - INDEXER_URL=https://${INDEXER_INT_IP}:9200
      - INDEXER_USERNAME=${INDEXER_USER}
      - INDEXER_PASSWORD=${INDEXER_PASS}
      - API_USERNAME=${API_USER}
      - API_PASSWORD=${API_PASS}
      - FILEBEAT_SSL_VERIFICATION_MODE=full
      - SSL_CERTIFICATE_AUTHORITIES=/etc/ssl/root-ca.pem
      - SSL_CERTIFICATE=/etc/ssl/filebeat.pem
      - SSL_KEY=/etc/ssl/filebeat.key
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 655360
        hard: 655360
    networks:
      wazuh_manager:
        ipv4_address: ${MANAGER_EXT_IP}
      wazuh_backhaul:
        ipv4_address: ${MANAGER_INT_IP}
    ports:
      - 1514:1514
      - 1515:1515
      - 514:514/udp
      - 55000:55000
    volumes:
      - wazuh_api_configuration:/var/ossec/api/configuration
      - wazuh_etc:/var/ossec/etc
      - wazuh_logs:/var/ossec/logs
      - wazuh_queue:/var/ossec/queue
      - wazuh_var_multigroups:/var/ossec/var/multigroups
      - wazuh_integrations:/var/ossec/integrations
      - wazuh_active_response:/var/ossec/active-response/bin
      - wazuh_agentless:/var/ossec/agentless
      - wazuh_wodles:/var/ossec/wodles
      - filebeat_etc:/etc/filebeat
      - filebeat_var:/var/lib/filebeat
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca-manager.pem:/etc/ssl/root-ca.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${MANAGER}.pem:/etc/ssl/filebeat.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${MANAGER}-key.pem:/etc/ssl/filebeat.key
      - /somefolder/wazuh-docker/single-node/config/wazuh_cluster/wazuh_manager.conf:/wazuh-config-mount/etc/ossec.conf

  wazuh-indexer:
    image: wazuh/${INDEXER}:${VERSION}
    container_name: ${INDEXER}
    hostname: ${INDEXER}
    restart: unless-stopped
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    networks:
      wazuh_backhaul:
        ipv4_address: ${INDEXER_INT_IP}
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-indexer/config/certs/root-ca.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${INDEXER}-key.pem:/usr/share/wazuh-indexer/config/certs/wazuh-indexer.key
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${INDEXER}.pem:/usr/share/wazuh-indexer/config/certs/wazuh-indexer.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/admin.pem:/usr/share/wazuh-indexer/config/certs/admin.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/admin-key.pem:/usr/share/wazuh-indexer/config/certs/admin-key.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer/wazuh.indexer.yml:/usr/share/wazuh-indexer/config/opensearch.yml
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer/internal_users.yml:/usr/share/wazuh-indexer/config/opensearch-security/internal_users.yml

  wazuh-dashboard:
    image: wazuh/${DASHBOARD}:${VERSION}
    container_name: ${DASHBOARD}
    hostname: ${DASHBOARD}
    restart: unless-stopped
    environment:
      - INDEXER_USERNAME=${INDEXER_USER}
      - INDEXER_PASSWORD=${INDEXER_PASS}
      - WAZUH_API_URL=https://${MANAGER_INT_IP}
      - DASHBOARD_USERNAME=${DASHBOARD_USER}
      - DASHBOARD_PASSWORD=${DASHBOARD_PASS}
      - API_USERNAME=${API_USER}
      - API_PASSWORD=${API_PASS}
    depends_on:
      - ${INDEXER}
    networks:
      wazuh_dashboard:
        ipv4_address: ${DASHBOARD_EXT_IP}
      wazuh_backhaul:
        ipv4_address: ${DASHBOARD_INT_IP}
    ports:
      - 5601:5601
    volumes:
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${DASHBOARD}.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/${DASHBOARD}-key.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-dashboard/certs/root-ca.pem
      - /somefolder/wazuh-docker/single-node/config/wazuh_dashboard/opensearch_dashboards.yml:/usr/share/wazuh-dashboard/config/opensearch_dashboards.yml
      - /somefolder/wazuh-docker/single-node/config/wazuh_dashboard/wazuh.yml:/usr/share/wazuh-dashboard/data/wazuh/config/wazuh.yml
      - wazuh-dashboard-config:/usr/share/wazuh-dashboard/data/wazuh/config
      - wazuh-dashboard-custom:/usr/share/wazuh-dashboard/plugins/wazuh/public/assets/custom