version: "3.9"

# networks
networks:
  pihole:
    driver: macvlan
    driver_opts:
      parent: br0
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

# docker managed persistent volumes
volumes:
  pihole:


services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: ${PIHOLE_HOST}
    domainname: ${DOMAIN}
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      FTLCONF_webserver_api_password: ${PASS}
      FTLCONF_dns_listeningMode: 'ALL'
      FTLCONF_ntp_ipv6_active: false
      FTLCONF_ntp_ipv4_active: false
    networks:
      pihole:
        ipv4_address: 192.168.0.2
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - pihole:/etc/pihole